<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1>Mantenimiento de Productos</h1>
		<form class="row g-3" action="/producto/grabar" method="POST" th:object="${producto}">
			<div class="col-md-4">
				<label for="validationDefault01" class="form-label">Codigo del Producto</label>
				<input type="text" th:field="*{cod_prod}" class="form-control" id="validationDefault01"
					placeholder="Ingrese Codigo" required>
			</div>
			<div class="col-md-4">
				<label for="validationDefault02" class="form-label">Nonbres</label>
				<input type="text" th:field="*{nom_prod}" class="form-control" id="validationDefault02"
					placeholder="Ingrese nombre " required>
			</div>

			<div class="col-md-4">
				<label for="validationDefault03" class="form-label">Descripcion</label>
				<input type="text" th:field="*{desc_prod}" min="1" class="form-control" id="validationDefault03"
				placeholder="Ingrese Descripcion " required>
					
			</div>
			
			<div class="col-md-4">
				<label for="validationDefault04" class="form-label">Categoria</label>
				<select class="form-select" th:field="*{cod_cat}" id="validationDefault04" required>
					<option selected disabled th:value="-1" th:text="Seleccione"></option>
					
					 <option th:each="c : ${lstCa}"
					 th:value="${c.cod_cat}" 
					 th:text="${c.nom_cat}"
					 ></option> 
			
					
				</select>
				</div> 
			
			
			<div class="col-md-5">
				<label for="validationDefault03" class="form-label">Stock</label>
				<input type="number" th:field="*{stock}" step="0.01"  min="1" class="form-control" id="validationDefault03"
					placeholder="0.00" required>
			</div>
			
				<div class="col-md-6">
				<label for="validationDefault03" class="form-label">Precio</label>
				<input type="number" th:field="*{precio}" step="0.01"  min="1" class="form-control" id="validationDefault03"
					placeholder="0.00" required>
			</div>
			
			
			
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Registrar</button>
				<a  href="/producto/listar" class="btn btn-primary"  >Listado</a>
			</div>

		</form>
	</div>

</body>

</html>