<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<title>FunkoStore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet"  href="/css/main.css" >
</head>

<body>

<div id="contenedor">
		<header th:fragment="header">
			<img alt="logo" th:src="@{/img/funko.png}"  width="200" height="200">
			
		</header>
			
		<main>
			<nav style="width: 25%;float: left;"  th:fragment="nav" >
				<ul>
					<li><a href="/producto/cargarinicio">Inicio</a></li>				
					<li><a href="/producto/cargar">Mantenimiento de productos</a></li>
					<li><a href="/personal/cargar">Mantenimiento de Personal</a></li>
					<li><a href="/cliente/cargar">Mantenimiento de clientes</a></li>
					<li><a href="/login/cargar">Cerrar sesion</a></li>
				</ul>
			</nav>
			<section style="width: 65%;float: left;">
				<h1 style="font-size: 250%;" >Bienvenidos</h1>
				<br>
				 <h3 style="text-align: center;font-weight: bold; "> VISION</h3>
				<p >
    Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  
   que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a 
    su estilo de ver y vivir la vida.</p>
    
    
     <h3 style="text-align: center;font-weight: bold; "> MISION</h3>
				<p >
    Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  
   que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a 
    su estilo de ver y vivir la vida.</p>
    
    
    <h3> Ingredientes</h3>
    
    <p>- Una pisca de estefani</p>
    <p>- Una cucharada  de jose</p>
    <p>- 100 gramos de sebastian</p>
    <p>- 1/2 taza de luis</p>
    <p>- 3 barras de sunny</p>
    
    
     

			</section>
		</main>
		<footer th:fragment="footer">
			<!-- jQuery library -->
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

			<!-- Popper JS -->
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

			<!-- Latest compiled JavaScript -->
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		</footer>
	</div>
</body>

</html>